body {
  font-family: Arial, sans-serif;
}

.box {
  width: 12.5rem;
  height: 12.5rem;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border: 1px solid black;
}

.box-1 {
  position: static;
  left: 30px;
}

.box-2 {
  position: relative;
  left: 30px;
}

.box-3 {
  position: fixed;
  top: 0%;
  left: 0px;
}
