body {
  font-family: 'Poppins', sans-serif;
}

.box {
  background-color: darkblue;
  color: white;
  padding: 20px;
  margin-bottom: 4px;
  border: 4px solid green;
}

.box-1 {
  width: 12.5rem;
  height: 6.25rem;
  overflow-y: scroll;
}

.box-2 {
  width: 50%;
  margin: 0 auto;
}

.box-2 p {
  width: 50%;
}

.box-3 {
  max-width: 50rem;
  min-width: 31.25rem;
}
