body {
  font-family: 'Poppins', sans-serif;
}

h1,
p {
  margin: 0;
}

.box {
  background-color: orange;
  max-width: 25rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
}

/* T R B L */
