* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.6;
  background-color: #27264b;
  color: #433f63;
}

a {
  text-decoration: none;
  color: #007bff;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

.container {
  max-width: 76rem;
  background-color: #f8faf1;
  border-radius: 0.625rem;
  margin: 0 auto;
  margin-top: 3%;
  padding: 4.5rem 4rem;

  .pricing {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;

    .card {
      flex: 1;
      background-color: #fff;
      padding: 2rem 1.25rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
      text-align: center;

      h2 {
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-bottom: 0.625rem;
        padding: 1rem;
        color: #333;
        background: #f8fafe;
      }

      .main-text {
        font-size: 14px;
        margin-bottom: 3.125rem;
      }

      .btn {
        display: block;
        background-color: #fff;
        color: #27264b;
        border: 1px solid #27264b;
        border-radius: 0.25rem;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background-color: #27264b;
          color: #fff;
          transition: all 0.3s;
          border: 1px solid #27264b;
        }
      }

      .btn-primary {
        background-color: #27264b;
        color: #fff;
        transition: all 0.3s;
        border: 1px solid #27264b;
        &:hover {
          background-color: #fff;
          color: #27264b;
        }
      }
    }
    .card-pro h2 {
      background: linear-gradient(
        90deg,
        rgba(194, 227, 255, 1) 13%,
        rgba(180, 118, 254, 1) 100%
      );
      color: #f8faf1;
      border-radius: 0.25rem;
    }
    .card-enterprise h2 {
      background: linear-gradient(
        90deg,
        rgba(255, 177, 194, 1) 13%,
        rgba(255, 203, 114, 1) 100%
      );
      color: #f8faf1;
      border-radius: 0.25rem;
    }

    .price {
      font-size: 2.8125rem;
      font-weight: 700;
      margin-bottom: 1.25rem;

      sup {
        font-size: 1.125rem;
      }

      span {
        font-size: 18px;
        margin-left: 5px;
      }
    }

    ul {
      text-align: left;
      margin-top: 3.125rem;
    }

    ul li i {
      color: #98ca9e;
      margin-right: 10px;
    }
  }
}
