* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0 auto;
  height: 400px;
  text-align: center;
  background-color: #010025;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 3rem 2rem;
}

.card h1 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.card p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 16rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.form-group input {
  min-height: 2.5rem;
  width: 100%;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-group button {
  width: 100%;
  min-height: 2.5rem;
  font-weight: bold;
  background-color: orange;
  border: orange;
  color: white;
}
