* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
}

p {
  padding: 2rem;
  margin: 2rem;
}

main {
  container-type: inline-size;
  width: 100%;
  margin: 1.875rem auto;
  padding: 1.25rem;
}

main p {
  background-color: lightgreen;
}

aside {
  container-type: inline-size;
  container-name: aside;
  flex: 0 0 30%;
  background: #f4f4f4;
  padding: 1.25rem;
}

@container (max-width: 992px) {
  main p {
    background-color: lightblue;
  }
}

@container aside (max-width: 500px) {
  aside p {
    background-color: lightblue;
  }
}
