body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Type Selectors */
/* h2 {
  color: red;
  font-size: 2rem;
} */

a {
  color: blue;
  text-decoration: none;
}

/* Class Selectors  */

.sporty {
  color: red;
}

.casual {
  color: blue;
}

.formal {
  color: brown;
}

/* ID Selectors  */

#container {
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  padding: 20px;
}

/* Multiple Styles  */

.sporty,
.casual {
  font-size: 3rem;
}

/* Descedant Selectors  */
#container p {
  background-color: blue;
}
