body {
  font-family: Arial, sans-serif;
}

.nome-el {
  display: none;
}

.hidden-el {
  visibility: hidden;
}
/* 
p {
  display: inline;
} */

a {
  display: inline-block;
  background-color: lightgray;
  border: blue solid 1px;
  padding: 0.625rem;
  margin: 1.25rem 0.625rem;
}
