* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

.header {
  background: orange;
  padding: 2rem;
}

nav {
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.main-menu {
  display: flex;
  padding: 1rem;
  gap: 1.25rem;
  background: #f1f1f1;

  a {
    font-size: 1.25rem;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  gap: 2rem;
  /* flex-direction: column; */

  section {
    flex: 1;
  }

  aside {
    flex: 1;

    h3 {
      background-color: orange;
      color: white;
      padding: 1rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding: 1rem;
        border-bottom: 1px solid rgb(173, 173, 173);
        background-color: gainsboro;
      }
    }
  }
}
