body {
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #5e175b;
}

.header h1 {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2.5rem;
}

.main-menu {
  background-color: #f4f4f4;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #5e175b;
}

a:active {
  color: rebeccapurple;
}

.lead {
  font-weight: bold;
  color: rebeccapurple;
  padding: 0 0 0 1.25rem;
}

p {
  padding: 0 0 0 1.25rem;
}
