body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #5e175b;
}

.header h1 {
  color: white;
  text-align: center;
  padding: 1.25rem 0;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #5e175b;
}

a:active {
  color: rebeccapurple;
}

ul {
  list-style: none;
  padding: 0;
}

ul.main-menu {
  list-style: none;
  text-indent: 0.625rem;
  text-transform: uppercase;
}

.lead {
  font-size: 1.25rem;
  font-weight: bold;
  color: rebeccapurple;
}

p {
  padding: 0 0 0 20px;
}
