body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background: #ccc;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flex-item {
  width: 12.5rem;
  background-color: orange;
  border: 1px solid black;
}

.flex-item.item-2 {
  align-self: self-end;
}
