body {
  font-family: Arial, sans-serif;
}

.flex-container {
  background-color: lightblue;
  width: 100%;
  display: flex;
}

.flex-item {
  background: coral;
  border: 1px solid black;
  padding: 1.25rem;
  width: 12.5rem;
  flex: 1 0 12.5rem;
}

.item-1,
.item-2 {
  /* flex-shrink: 2; */
  flex-grow: 1;
}

.item-3 {
  /* flex-grow: 2; */
}
